.logo-image {
    width: 40px;
}
    .btn:focus, .btn-close:focus {
    box-shadow: none;
}
    .bg{
    background-color: #fff;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}
.list-menu ul li a{
    font-size: 1.1rem;
    color: #333;
}
#Sign-up{
    background-image: url('/img/bg-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
input::placeholder {
    font: 1.1rem sans-serif;
} 
.outstanding{
    border-radius: 12px;
}
.outstanding img{
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

